
<h3>Admin Options</h3>
<ul>
	<li><%= link_to "Manage Doors", doors_path %> </li>
	<li><%= link_to "Manage Permissions", door_permissions_path %> </li>
	<li><%= link_to "Mobile Tokens", mobile_tokens_path %> </li>
	<li><%= link_to "Manage Admins", admins_path %> </li>
	<li><%= link_to "View Users", users_path %> </li>
	<li><%= link_to "View Sessions and Activity Log", sessions_path %> </li>
</ul>

