<div class="col" id="left">
	<div id="text-2" class="widget widget_text">			
		<div class="textwidget">
			<h3>About</h3>
		  <p>Click links to open doors</p>
		</div>
	</div>                        
</div><!--! end of .col #left -->
<div class="col" id="center">
	<div id="text-3" class="widget widget_text">			
		<div class="textwidget">
			<h3>Doors for <%= @this_user.displayName %></h3>
			<%= render "home/doors_to_open" %>
		</div>		
	</div>                        
</div><!--! end of .col #center -->


