<div>
	<ul class="nav nav-tabs">
	  <li role="presentation" 
	  <% if params[:controller] == "admins" %>class="active"<% end %> >
			<%= link_to "Admins", admins_path %> 
		</li>
	  <li <% if params[:controller] == 'users' %>class="active"<% end %> >
			<%= link_to "Users", '/users' %>
	   </li>
	  <li <% if params[:controller] == 'doors' %>class="active"<% end %> >
			<%= link_to "Doors", '/doors' %>
	   </li>
	  <li <% if params[:controller] == 'door_permissions' %>class="active"<% end %> >
			<%= link_to "Door Permissions", '/door_permissions' %>
	   </li>
	  <li <% if params[:controller] == 'mobile_tokens' %>class="active"<% end %> >
			<%= link_to "Mobile Tokens", '/mobile_tokens' %>
	   </li>
	  <li <% if params[:controller] == 'sessions' %>class="active"<% end %> >
			<%= link_to "Sessions", '/sessions' %>
	   </li>
	</ul>	
</div>
