<!DOCTYPE html>
<html>
<head>
  <title>Push2Open</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag "style", :media => "all" %>
	
	<%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="home page page-id-4 page-template-default single-author">
<div id="page" class="hfeed">

<header id="branding" role="banner">
	<div id="logo">
		 <p><a href="http://www.duke.edu" tabindex="1" accesskey="1"><img src="/assets/struct/logo.png" width="141" height="64" alt="Duke University" /></a></p>
     <h1><a href="/" rel="home" tabindex="2" accesskey="2">Push2Open</a></h1>
	<ul id="mmenu">
	  <li <% if params[:controller] == "home"  %>class="active"<% end %> >
			<a href='/'>Home	</a>
		</li>
		<% if session[:is_admin] %>
	  <li <% if params[:controller] == "administration"  %>class="active"<% end %> >
			<a href='/administration/index'>Admin	</a>
		</li>
		<% end %>
		<li class='logout'>
			<a href='/home/logout'>Logout</a>
		</li>
			
	</ul>	
</div>
</header><!-- #branding -->

<%= yield :meat %>

</div>
<div id="subFooter">
  <ul class="links" id="socialLinks">
    <li><a href="http://futurity.org"><img src="/assets/futurity.gif" /></a></li>
    <li><a href="http://www.youtube.com/duke"><img src="/assets/youtube.gif" /></a></li>
    <li><a href="http://twitter.com/DukeNews"><img src="/assets/twitter.gif" /></a></li>
    <li><a href="http://www.facebook.com/DukeUniv"><img src="/assets/facebook.gif" /></a></li>
    <li><a href="http://itunes.duke.edu/"><img src="/assets/apple.gif" /></a></li>
    <li><a href="http://news.duke.edu/"><img src="/assets/rss.gif" /></a></li>
  </ul>
<ul class="links" id="subFootLinks"><li class="menu-334 first"><a href="http://www.access.duke.edu/" title="">Accessibility</a></li>
  <li class="menu-115"><a href="http://duke.edu/styleguide.html" title="">Style Guide</a></li>
  <li class="menu-293"><a href="http://duke.edu/about_this_site.html" title="">About Duke.edu</a></li>
  <li class="menu-116 last"><a href="http://oit.duke.edu/about/contact/index.php" title="">Contact Us</a></li>
</ul>
    <a href="http://www.duke.edu" id="subFootLogo">Duke University</a>
    <p>&copy; 2012-2016 Duke University, Durham, NC 27708 | (919) 684-8111</p>    
</div>

</body>
</html>
